.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  border: red 1px solid;
}

.logo {
  background-image: url('../images/logo_place_header.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  margin: auto;
  margin-left: 64px;
  width: 730px;
  z-index: 100;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  border: red 1px solid;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30px;
  left: 64px;
  z-index: 100;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  border: red 1px solid;
}

.header__link {
  width: 388px;
  bottom: 0;
  right: 0;
  z-index: 100;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  border: red 1px solid;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  border: red 1px solid;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  border: red 1px solid;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  border: red 1px solid;
}





/*
.page {
  font-family: 'Cormorant Garamond';
}

.page__menu {
  margin: 40px auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered-block {
  margin: auto;
}

.header {
  height: 95px;
  display: flex;
  max-width: 1330px;
	min-width: 1280px;
}

.header__link {
  font-size: 28px;
  text-decoration: none;
  color: #10191E;
}

.header__link::after {
  content: "!";
}

.header__link[lang="ru"]::before {
  content: 'Привет, меня зовут ';
}

.header__link[lang="en"]::before {
  content: 'Hello, my name is ';
}

.header__link[lang="fr"]::before {
  content: 'Bonjour, je suis ';
}

.menu {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1330px;
	min-width: 1280px;
	margin: 40px auto;
}

.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: #10191E;
  margin-right: 20px;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link_active {
  text-decoration: underline;
}

.content {
	max-width: 1330px;
	min-width: 1280px;
}

.content__title {
  font-size: 34px;
  margin: 0 0 40px;
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-row_reversed {
  flex-direction: row-reverse;
}

.flex-row_space_bottom {
  margin-bottom: 60px;
}

.flex-column {
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_width_l {
  width: 636px;
}

.project_width_m {
  width: 306px;
}

.project_height_xl {
  height: 557px;
}

.project_height_l {
  height: 430px;
}

.project_height_m {
  height: 290px;
}

.project_height_s {
  height: 240px;
}

.project_name_music-album {
  background-image: url(https://code.s3.yandex.net/web-code/album.png);
}

.project_name_design-principles {
  background-image: url(https://code.s3.yandex.net/web-code/design.png);
}

.project_name_slider {
  background-image: url(https://code.s3.yandex.net/web-code/slider.gif);
}

.project_name_reactive {
  background-image: url(https://code.s3.yandex.net/web-code/reactive.gif);
}

.project_name_how-to-study {
  background-image: url(https://code.s3.yandex.net/web-code/how-to-study.png);
  order: 3;
}

.project_name_across-russia {
  background-image: url(https://code.s3.yandex.net/web-code/across-russia.png);
  order: 2;
}

.project_name_mesto {
  background-image: url(https://code.s3.yandex.net/web-code/mesto.png);
  order: 1;
}

.project__overlay {
  background-color: rgba(31, 30, 30, 0.877);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 0 0 70px;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
}

.project__overlay:hover {
  opacity: 1;
}

.project__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 95px;
	display: flex;
  justify-content: center;
  max-width: 1330px;
	min-width: 1280px;
}

.footer__logo {
  width: 145px;
  height: 25px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}
*/
